@model List<LinqMVCDemo.Models.ObjectData>

@{int j = 1;}

@foreach (var Type in Model)
{
    <li class="dd-item" data-id="@j" style="">
        @if (Type.ObjectType == "Type")
        {
            <div class="dd-handle">@Html.DisplayFor(Item => Type.ObjectName)</div>
        }
        else
        {
            <ol class="dd-list" style="">
                <li class="dd-item" data-id="@j">
                    @if (Type.ObjectType == "SubType")
                    {
                        <div class="dd-handle">@Html.DisplayFor(Item => Type.ObjectName)</div>
                    }
                    else
                    {
                        <ol class="dd-list">
                            <li class="dd-item" data-id="@j">
                                <div class="dd-handle">@Html.DisplayFor(Item => Type.ObjectName)</div>
                            </li>
                        </ol>
                    }
                </li>
            </ol>
        }
        @{j++;}

    </li>
}
