@model List<IGrouping<string, LinqMVCDemo.Models.Menu>>


@{
    ViewBag.Title = "Index";
}

<h2>Menu List</h2>

<div class="row">
    <div class="col-lg-6 col-sm-6 col-xs-12">
        <h5 class="row-title"><i class="typcn typcn-th-menu"></i>Object List</h5>
        <div class="dd" id="nestable">
            <ol class="dd-list">
                @{int j = 1;}

                @foreach (var mainType in Model)
                {
                    <li class="dd-item" data-id="@j" style="">
                        <div class="dd-handle">@Html.DisplayFor(Item => mainType.Key)</div>
                        @{
                    var subType = mainType.GroupBy(m => m.ObjSubType).ToList();
                        }
                        @foreach (var st in subType)
                        {
                            <ol class="dd-list" style="">
                                <li class="dd-item" data-id="3">
                                    <div class="dd-handle">
                                        @st.Key
                                    </div>
                                    @foreach (var sn2 in st)
                                    {
                                        <ol class="dd-list">
                                            <li class="dd-item bordered-blue" data-id="6">
                                                <div class="dd-handle">@sn2.ObjName </div>
                                            </li>
                                        </ol>
                                    }
                                </li>
                            </ol>


                        }
                        @{j++;}
                    </li>
                }
            </ol>

        </div>
        @Html.TextBox("nestable-output")
    </div>
    <div class="col-lg-6 col-sm-6 col-xs-12">
        <h5 class="row-title"><i class="typcn typcn-lightbulb"></i>Drag Drop List</h5>
        <div class="dd shadowed" id="nestable2">
            <ol class="dd-list">
                <li class="dd-item bordered-inverse">
                    <div class="dd-handle">
                        Start Drag and Drop from Below
                    </div>
                </li>

            </ol>

        </div>
        @Html.TextBox("nestable2-output")
    </div>

</div>





@section scripts{


    <script>
        $(document).ready(function () {

            var updateOutput = function (e) {
                var list = e.length ? e : $(e.target),
                    output = list.data('output');
                if (window.JSON) {
                    output.val(window.JSON.stringify(list.nestable('serialize')));//, null, 2));
                } else {
                    output.val('JSON browser support required for this demo.');
                }
            };

            // activate Nestable for list 1
            $('#nestable').nestable({
                group: 1
            })
            .on('change', updateOutput);

            // activate Nestable for list 2
            $('#nestable2').nestable({
                group: 1
            })
            .on('change', updateOutput);

            // output initial serialised data
            updateOutput($('#nestable').data('output', $('#nestable-output')));
            updateOutput($('#nestable2').data('output', $('#nestable2-output')));

            $('#nestable-menu').on('click', function (e) {
                var target = $(e.target),
                    action = target.data('action');
                if (action === 'expand-all') {
                    $('.dd').nestable('expandAll');
                }
                if (action === 'collapse-all') {
                    $('.dd').nestable('collapseAll');
                }
            });

        });

    </script>
}

